.card{
    background: #282828;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    /* box-shadow: 0 10px 30px 0 rgba(0,0,0,0.3), 0 1px 2px 0 rgba(0,0,0,0.2); */
}
.cardImage{
    height: 160px; 
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.3), 0 1px 2px 0 rgba(0,0,0,0.2);
}
.cardImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardContent > h3{
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0;
    letter-spacing: 0.6px;
}
.cardContent > span{
    font-size: 0.8rem;
    /* color: #282828; */
}

.playIcon{
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    overflow: hidden;
    display: flex !important;
    color: #1db954;
    margin-left: auto;
    position: absolute;
    right: 1.2rem;
    bottom: 1.2rem;
    opacity: 0;
}
.playIcon > .MuiSvgIcon-root{
    margin: auto;
}
.card:hover .playIcon{
    opacity: 1;
}